<ion-content no-padding>
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
        <ion-row class="row">
          <div class="fire-logo">
            <img src="assets/logo.png" class="img-logo">
          </div>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="sendSms()" color="undefined" class="transition" [disabled]="isReceiveButtonClicked">
              <strong class="white">
                SEND SMS</strong></ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="start()" color="undefined" class="transition" [disabled]="isReceiveButtonClicked">
              <strong class="white">
                RECEIVE SMS</strong></ion-button>
          </ion-col>
        </ion-row>

        <ion-list>
          <ion-item *ngIf = "isSendButtonClicked">
            <ion-label>{{ countOfSentMessages }}  /  {{ vendorCount }}</ion-label>
            <ion-note slot="end">Messages SENT</ion-note>
          </ion-item>
          <ion-item *ngIf = "isReceiveButtonClicked">
            <ion-label>{{ countOfReceivedMessages }}  /  {{ countOfSentMessages }}</ion-label>
            <ion-note slot="end">Messages RECEIVED</ion-note>
          </ion-item>
          <ion-item *ngIf = "isReceiveButtonClicked">
            <ion-label>{{ countOfVendorsUpdated }}  /  {{ countOfReceivedMessages }}</ion-label>
            <ion-note slot="end">Vendors UPDATED</ion-note>
          </ion-item>
        </ion-list>
        
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="stop()" color="undefined" class="transition">
              <strong class="white">
                STOP / RESET</strong></ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vendor Fuel Price Update
    </ion-title>
  </ion-toolbar>
</ion-footer>
